.c-ScrollBtn {
    display block

    &:before {
        content ""
        width 3px
        height 3px
        display inline-block
        vertical-align middle
        margin-right 8px
        background $colors['white'];
        border-radius 50%
    }

    &--black {
        &:before {
            background $colors['black'];
        }
    }
}