.c-Switch {
    &-legend {
        margin-bottom 15px
    }

    li {
        @media $breakpoints.md {
            margin-bottom 20px

            &:last-child {
                margin-bottom 0
            }
        }
    }

    &-btn {
        letter-spacing 0.15em
        line-height 30px

        color $colors['gray-dark'];
        transform translateZ(0)
        transition color 0.6s $ease-out-quart
        will-change color

        @media $breakpoints.md {
            line-height 1.2
        }


        &:before {
            content ""
            display block
            position absolute
            top 11px
            left -20px
            width 6px
            height 6px
            border-radius 50%

            background $colors['gray-dark'];
            margin-right 20px

            opacity 0
            transform translateZ(0)
            transition opacity 0.6s $ease-out-quart
            will-change opacity

            @media $breakpoints.md {
                top 5px
            }
        }

        &:after {
            content ""
            display block
            position absolute
            top 11px
            left -20px
            width 6px
            height 6px
            border-radius 50%

            background $colors['blue'];
            margin-right 20px

            opacity 0
            transform translateZ(0)
            transition opacity 0.6s $ease-out-quart
            will-change opacity

            @media $breakpoints.md {
                top 5px
            }
        }

        &:hover {
            &:before {
                opacity 1
            }
        }

        &.is-active {
            color $colors['blue'];

            &:after {
                opacity 1
            }
        }

        &--alt {
            margin-right $margins['md'];

            @media $breakpoints.md {
                margin-right 17px
            }

            &:before, &:after {
                top auto
                bottom -15px
                left 50%
                margin-left -3px
            }
        }
    }
}