// -------------------------
// Text align
// -------------------------

for breakpoint in $breakpoints {
    @media $breakpoints[breakpoint] {

        suffix = "\@" + breakpoint

        if (breakpoint == default) {
            suffix = ""
        }

        .u-text-justify{suffix} {
            text-align justify
        }

        .u-text-right{suffix} {
            text-align right
        }

        .u-text-left{suffix} {
            text-align left
        }

        .u-text-center{suffix} {
            text-align: center
        }
    }
}
