// -------------------------
// colors
// -------------------------

for name in $colors {
    .u-color--{name} {
        color $colors[name];
    }

    .u-bg--{name} {
        background $colors[name];
    }

    .u-fill--{name} {
        fill $colors[name];
    }

    .u-stroke--{name} {
        stroke $colors[name];
    }

    .u-border--{name} {
        border-color $colors[name];
    }
}
