// -------------------------
// cursors
// -------------------------

for breakpoint in $breakpoints {
    @media $breakpoints[breakpoint] {

        suffix = "\@" + breakpoint

        if (breakpoint == default) {
            suffix = ""
        }

        .u-cursor-drag{suffix} {
            cursor grab
        }

        .u-cursor-pointer{suffix} {
            cursor pointer
        }

        .u-pointer-none{suffix} {
            pointer-events none;
        }

        .u-pointer-auto{suffix} {
            pointer-events auto;
        }

    }
}
