// -------------------------
// Direction
// -------------------------

for breakpoint in $breakpoints {
    @media $breakpoints[breakpoint] {

        suffix = "\@" + breakpoint

        if (breakpoint == default) {
            suffix = ""
        }

        .u-dire-rtl{suffix} {
            direction rtl
        }

        .u-dire-ltr{suffix} {
            direction ltr
        }

    }
}
