// -------------------------
// display
// -------------------------

for breakpoint in $breakpoints {
    @media $breakpoints[breakpoint] {

        suffix = "\@" + breakpoint

        if (breakpoint == default) {
            suffix = ""
        }

        .u-inline{suffix} {
            display inline;
        }

        .u-inline-block{suffix} {
            display inline-block;
        }

        .u-block{suffix} {
            display block;
        }

        .u-hide{suffix} {
            display none;
        }

        .u-flex{suffix} {
            display flex;
        }

        .u-inline-flex{suffix} {
            display inline-flex;
        }

        .u-invisible{suffix} {
            visibility hidden
        }
    }
}
