// -------------------------
// Flexbox
// -------------------------

for breakpoint in $breakpoints {
    @media $breakpoints[breakpoint] {

        suffix = "\@" + breakpoint

        if (breakpoint == default) {
            suffix = ""
        }

        .u-flex-flow-row-wrap{suffix} {
            flex-flow: row wrap;
        }

        .u-flex-dir-c{suffix} {
            flex-direction: column;
        }

        .u-flex-dir-c-r{suffix} {
            flex-direction: column-reverse;
        }

        .u-flex-dir-r-r{suffix} {
            flex-direction: row-reverse;
        }

        .u-flex-dir-r{suffix} {
            flex-direction: row;
        }

        .u-justify-content-c{suffix} {
            justify-content: center;
        }

        .u-justify-content-sb{suffix} {
            justify-content: space-between
        }

        .u-justify-content-sa{suffix} {
            justify-content: space-around
        }

        .u-justify-content-fe{suffix} {
            justify-content: flex-end
        }

        .u-justify-content-fs{suffix} {
            justify-content: flex-start
        }

        .u-align-items-c{suffix} {
            align-items: center
        }

        .u-align-items-fe{suffix} {
            align-items: flex-end
        }

        .u-align-items-s{suffix} {
            align-items: start;
        }

        .u-align-items-sb{suffix} {
            align-items: space-between
        }

        .u-align-content-sb{suffix} {
            align-content: space-between
        }

        .u-flex-1{suffix} {
            flex: 1
        }

        .u-flex-auto{suffix} {
            flex auto
        }
    }
}
