// -------------------------
// float
// -------------------------

for breakpoint in $breakpoints {
    @media $breakpoints[breakpoint] {

        suffix = "\@" + breakpoint

        if (breakpoint == default) {
            suffix = ""
        }

        .u-float-l{suffix} {
            float left
        }

        .u-float-r{suffix} {
            float right
        }
    }
}
