// -------------------------
// Grids
// -------------------------

for breakpoint in $breakpoints {
    @media $breakpoints[breakpoint] {

        suffix = "\@" + breakpoint

        if (breakpoint == default) {
            suffix = ""
        }

        for grid in $grids {
            for index in (0..grid){
                .u-w{index}of{grid}{suffix} {
                    width: (100% / grid) * index
                }

                .u-offset-l-w{index}of{grid}{suffix} {
                    margin-left: (100% / grid) * index
                }

                .u-offset-r-w{index}of{grid}{suffix} {
                    margin-right: (100% / grid) * index
                }
            }
        }

    }
}
