// -------------------------
// Overflow
// -------------------------

for breakpoint in $breakpoints {
    @media $breakpoints[breakpoint] {

        suffix = "\@" + breakpoint

        if (breakpoint == default) {
            suffix = ""
        }

        .u-overflow-h{suffix} {
            overflow hidden
            -webkit-overflow-scrolling: auto;
        }

        .u-overflow-x-h{suffix} {
            overflow-x hidden
        }

        .u-overflow-y-h{suffix} {
            overflow-y hidden
        }

        .u-overflow-s{suffix} {
            overflow scroll
            -webkit-overflow-scrolling: touch;
        }

        .u-overflow-x-s{suffix} {
            overflow-x scroll
            -webkit-overflow-scrolling: touch;
        }

        .u-overflow-y-s{suffix} {
            overflow-y scroll
            -webkit-overflow-scrolling: touch;
        }

        .u-overflow-a{suffix} {
            overflow auto
        }

        .u-overflow-x-a{suffix} {
            overflow-x auto
        }

        .u-overflow-y-a{suffix} {
            overflow-y auto
        }

        .u-overflow-v{suffix} {
            overflow visible
        }

    }
}
