// -------------------------
// position
// -------------------------

for breakpoint in $breakpoints {
    @media $breakpoints[breakpoint] {

        suffix = "\@" + breakpoint

        if (breakpoint == default) {
            suffix = ""
        }

        .u-fixed{suffix} {
            position fixed
            // will-change transform
        }

        .u-absolute{suffix} {
            position absolute
        }

        .u-relative{suffix} {
            position relative
        }

        .u-static{suffix} {
            position static
        }

        .u-pos-tl{suffix} {
            top 0
            left 0
        }

        .u-pos-tr{suffix} {
            top 0
            right 0
        }

        .u-pos-bl{suffix} {
            bottom 0
            left 0
        }

        .u-pos-br{suffix} {
            bottom 0
            right 0
        }

        .u-pos-center{suffix} {
            top 50%
            left 50%
            transform translate(-50%, -50%)
        }

        .u-pos-center-right{suffix} {
            top 50%
            right 0
            transform translateY(-50%)
        }

        .u-pos-center-left{suffix} {
            top 50%
            left 0
            transform translateY(-50%)
        }

        .u-pos-top-center{suffix} {
            top 0
            left 50%
            transform translateX(-50%)
        }

        .u-pos-bottom-center{suffix} {
            bottom 0
            left 50%
            transform translateX(-50%)
        }

    }
}
