// -------------------------
// Fit
// -------------------------

for breakpoint in $breakpoints {
    @media $breakpoints[breakpoint] {

        suffix = "\@" + breakpoint

        if (breakpoint == default) {
            suffix = ""
        }

        .u-fit{suffix} {
            width 100%
            height 100%
        }

        .u-fit-w{suffix} {
            width 100%
        }

        .u-fit-h{suffix} {
            height 100%
        }

        .u-viewport-fit{suffix} {
            width 100vw
            height 100vh
        }

        .u-viewport-fit-w{suffix} {
            width 100vw
        }

        .u-viewport-fit-h{suffix} {
            height 100vh
        }

        // RESET
        .u-height-auto{suffix} {
            height auto
        }

        .u-width-auto{suffix} {
            width auto
        }

    }
}
