// --------------------------------------------------
// Spacing
// --------------------------------------------------

for breakpoint in $breakpoints {
    @media $breakpoints[breakpoint] {

        suffix = "\@" + breakpoint

        if (breakpoint == default) {
            suffix = ""
        }


        // -------------------------
        // Margin
        // -------------------------

        .u-marg-a-0{suffix} { margin:        0 }
        .u-marg-t-0{suffix} { margin-top:    0 }
        .u-marg-r-0{suffix} { margin-right:  0 }
        .u-marg-b-0{suffix} { margin-bottom: 0 }
        .u-marg-l-0{suffix} { margin-left:   0 }
        .u-marg-x-0{suffix} {
            margin-right:  0
            margin-left:   0
        }

        .u-marg-y-0{suffix} {
            margin-top:    0
            margin-bottom: 0
        }

        .u-marg-x-auto{suffix} {
            margin-right auto
            margin-left auto
        }

        for margin in $margins {
            .u-marg-a-{margin}{suffix} { margin:        $margins[margin] }
            .u-marg-t-{margin}{suffix} { margin-top:    $margins[margin] }
            .u-marg-r-{margin}{suffix} { margin-right:  $margins[margin] }
            .u-marg-b-{margin}{suffix} { margin-bottom: $margins[margin] }
            .u-marg-l-{margin}{suffix} { margin-left:   $margins[margin] }
            .u-marg-x-{margin}{suffix} {
                margin-right:   $margins[margin]
                margin-left:    $margins[margin]
            }
            .u-marg-y-{margin}{suffix} {
                margin-top:     $margins[margin]
                margin-bottom:  $margins[margin]
            }
        }


        // -------------------------
        // Padding
        // -------------------------

        .u-pad-a-0{suffix} { padding:        0 }
        .u-pad-t-0{suffix} { padding-top:    0 }
        .u-pad-r-0{suffix} { padding-right:  0 }
        .u-pad-b-0{suffix} { padding-bottom: 0 }
        .u-pad-l-0{suffix} { padding-left:   0 }
        .u-pad-x-0{suffix} {
            padding-left  0
            padding-right 0
        }
        .u-pad-y-0{suffix} {
            padding-top    0
            padding-bottom 0
        }

        for padding in $paddings {
            .u-pad-a-{padding}{suffix} { padding:        $paddings[padding] }
            .u-pad-t-{padding}{suffix} { padding-top:    $paddings[padding] }
            .u-pad-r-{padding}{suffix} { padding-right:  $paddings[padding] }
            .u-pad-b-{padding}{suffix} { padding-bottom: $paddings[padding] }
            .u-pad-l-{padding}{suffix} { padding-left:   $paddings[padding] }
            .u-pad-x-{padding}{suffix} {
                padding-right:  $paddings[padding]
                padding-left:   $paddings[padding]
            }
            .u-pad-y-{padding}{suffix} {
                padding-top:    $paddings[padding]
                padding-bottom: $paddings[padding]
            }
        }

    }
}
