// -------------------------
// special
// -------------------------

for breakpoint in $breakpoints {
    @media $breakpoints[breakpoint] {

        suffix = "\@" + breakpoint

        if (breakpoint == default) {
            suffix = ""
        }

        .u-vacuum{suffix} {
            font-size 0px
        }

        .u-cover{suffix} {
            background-size cover;
        }

        .u-object-fit-cover{suffix} {
            object-fit cover
        }

        .u-object-fit-contain{suffix} {
            object-fit contain
        }

        .u-white-space-nowrap{suffix} {
            white-space nowrap
        }

        .u-white-space-normal{suffix} {
            white-space normal
        }

        .u-truncate{suffix} {
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .u-select-none{suffix} {
            user-select: none;
        }

        .u-force-3d{suffix} {
            transform translateZ(0)
            opacity 0.999
        }

        .u-destroy-after{suffix} {
            &:after {
                content none !important
            }
        }

        .u-destroy-before{suffix} {
            &:before {
                content none !important
            }
        }

    }
}
