// -------------------------
// text style
// -------------------------

for breakpoint in $breakpoints {
    @media $breakpoints[breakpoint] {

        suffix = "\@" + breakpoint

        if (breakpoint == default) {
            suffix = ""
        }

        .u-underline{suffix} {
            text-decoration underline
        }

        .u-uppercase{suffix} {
            text-transform uppercase
        }

        .u-capitalize{suffix} {
            text-transform capitalize
        }

        .u-lowercase{suffix} {
            text-transform lowercase
        }

        .u-normal{suffix} {
            text-transform none
        }

        .u-light{suffix} {
            font-weight 300
        }

        .u-regular{suffix} {
            font-weight 400
        }

        .u-medium{suffix} {
            font-weight 500
        }

        .u-bold{suffix} {
            font-weight 700
        }

        .u-italic{suffix} {
            font-style: italic
        }

        .u-normal {
            font-style normal
        }

        for font in $fonts {
            .u-font-{font}{suffix} {
                font-family: $fonts[font];

                if font == 'heading' {
                    font-kerning none
                }
            }
        }

    }
}
