// -------------------------
// vertical align
// -------------------------

for breakpoint in $breakpoints {
    @media $breakpoints[breakpoint] {

        suffix = "\@" + breakpoint

        if (breakpoint == default) {
            suffix = ""
        }

        .u-valign-top{suffix} {
            vertical-align top
        }

        .u-valign-bottom{suffix} {
            vertical-align bottom
        }

        .u-valign-middle{suffix} {
            vertical-align middle
        }

        .u-valign-baseline{suffix} {
            vertical-align baseline
        }

    }
}
