<template>
    <div class="c-SectionOne u-relative u-fit-w" v-bind:class="{ 'is-page-ready': isPageReady, 'is-from-sections': isFromSections, 'is-from-section': isFromSection }">

        <sub-header v-bind:active="isPageReady" v-bind:number="1" v-bind:title="'A world of Innovation Nations'"></sub-header>

        <section class="js-section js-ui-switch js-nav-section c-SectionOne-intro u-relative u-fit-w u-viewport-fit-h u-color--white u-overflow-h" v-bind:style="{ height: minHeight +'px' }">
            <parallax-object v-bind:active="isPageReady" v-bind:ratio="-0.8" class="c-Container u-absolute u-pos-tl u-fit u-flex u-align-items-c | u-align-items-fe@sm">
                <object-fit v-bind:width="1280" v-bind:height="720" v-bind:width-mobile="374" v-bind:height-mobile="664" class="c-SectionOne-intro-video u-bg--blue u-fixed u-pos-tl u-fit">
                    <video-observer class="u-absolute u-pos-tl u-fit">
                        <video-responsive>
                            <video class="js-object-fit js-video u-absolute u-pos-tl u-fit" v-bind:poster="isMobile ? '/static/images/one/poster-intro-mobile.jpg' : '/static/images/one/poster-intro.jpg'" autoplay loop muted playsinline>
                                <source src="/static/videos/section1.webm" type="video/webm">
                                <source src="/static/videos/section1.mp4" type="video/mp4">

                                <source srcset="/static/videos/section1-mobile.webm" type="video/webm" media="(max-width: 767px)">
                                <source srcset="/static/videos/section1-mobile.mp4" type="video/mp4" media="(max-width: 767px)">
                            </video>
                        </video-responsive>
                    </video-observer>
                </object-fit>

                <div class="u-relative u-w8of16 u-offset-l-w4of16 u-force-3d  | u-w10of16@lg u-offset-l-w3of16@lg | u-fit-w@sm u-marg-l-0@sm">
                    <h1 class="c-SectionOne-intro-title t-h1">
                        <span class="c-SectionOne-line c-SectionOne-line--0 c-SectionOne-intro-title-line-1 u-block | u-offset-l-w1of10@lg | u-marg-l-0@sm">A world of</span>
                        <span class="c-SectionOne-line c-SectionOne-line--1 c-SectionOne-intro-title-line-2 u-block u-offset-l-w3of8 | u-offset-l-w2of8@sm">Innovation</span>
                        <span class="c-SectionOne-line c-SectionOne-line--2 c-SectionOne-intro-title-line-3 u-hide | u-block@sm u-offset-l-w1of8@sm">Nations</span>
                    </h1>

                    <div class="u-relative u-flex u-fit-w">
                        <div class="u-w5of8 u-text-right u-pad-r-lg | u-hide@sm">
                            <span class="c-SectionOne-line c-SectionOne-line--2 c-SectionOne-intro-title-line-3 t-h1 u-block">Nations</span>
                        </div>

                        <div class="c-SectionOne-intro-desc u-w3of8 | u-w6of8@sm u-offset-l-w1of8@sm">
                            <div class="c-SectionOne-line c-SectionOne-line--3">
                                <span class="t-text--xxs u-font-bold u-uppercase u-flex u-align-items-c">
                                    <svg class="c-SectionOne-intro-icon u-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="12" height="12">
                                        <path fill="#FFFFFF" d="M10.9 7.9c-.6-.8-1.4-1.5-2.3-1.9.9-.4 1.7-1.1 2.3-1.9.2-.3.4-.5.5-.8v-.2c-.1-.3-.3-.5-.5-.8l-.2-.3-.1.3c-.1.3-.2.5-.4.8C9.3 4.5 7.7 5.4 6 5.4c-1.7 0-3.3-.9-4.2-2.3-.2-.3-.3-.5-.4-.8L1.3 2l-.2.3c-.2.3-.4.5-.6.8v.2c.1.3.3.6.5.8.7.8 1.5 1.5 2.4 1.9-.9.4-1.7 1.1-2.3 1.9-.2.3-.4.5-.6.8v.2c.1.3.3.5.5.8l.3.3.1-.3c.1-.3.2-.5.4-.8.9-1.4 2.5-2.3 4.2-2.3 1.7 0 3.3.9 4.2 2.3.2.3.3.5.4.8l.1.3.2-.3c.2-.3.4-.5.5-.8v-.2c-.1-.3-.3-.5-.5-.8z"/>
                                        <circle fill="#FFFFFF" cx="6" cy="1.2" r="1.2"/>
                                        <circle fill="#FFFFFF" cx="6" cy="10.8" r="1.2"/>
                                    </svg>
                                    <span>section 01</span>
                                </span>
                            </div>

                            <p class="c-SectionOne-line c-SectionOne-line--4 c-SectionOne-intro-text t-text--sm">Countries have more authority over their innovation strategy and growing confidence to innovate on their own.</p>
                        </div>
                    </div>
                </div>
                <div class="c-SectionOne-intro-scroll c-Container u-absolute u-pos-bl u-fit-w">
                    <cursor-trigger v-bind:name="'scroll'" class="u-inline-block u-offset-l-w2of16 ">
                        <button v-on:click="onScroll" type="button" class="c-SectionOne-intro-scroll-btn c-ScrollBtn t-btn t-text--xxs u-font-bold">SCROLL</button>
                    </cursor-trigger>
                </div>
            </parallax-object>
        </section>

        <section class="js-section js-ui-switch js-nav-section c-SectionOne-dataOne c-Container u-relative u-bg--white">
            <h2 class="t-h3 u-w6of16 u-offset-l-w6of16 | u-offset-l-w5of16@md | u-w6of8@sm u-offset-l-w1of8@sm">Interconnected across the world</h2>

            <p class="c-SectionOne-dataOne-desc t-h4 u-w7of16 u-offset-l-w2of16 | u-w8of16@md | u-offset-l-w1of16@md | u-w14of16@sm u-offset-l-w1of16@sm">Globalisation, interconnectedness, access to technology and trade have enabled more markets to have innovation conducive environments.</p>

            <div class="u-relative u-fit-w">
                <parallax-object v-bind:ratio="0.1" class="c-SectionOne-dataOne-img u-absolute u-pos-bl u-w6of16 | u-w13of16@sm u-offset-l-w1of16">
                    <div class="c-SectionOne-dataOne-img-inner">
                        <img src="/static/images/one/1.jpg" alt="" class="u-absolute u-pos-tl u-fit">
                    </div>
                </parallax-object>

                <div class="c-SectionOne-dataOne-webgl u-w10of16 u-offset-l-w4of16 | u-fit-w@sm u-marg-l-0@sm">
                    <cursor-trigger v-bind:name="'spin'" v-bind:active="!hasInteractedGlobe" v-bind:class="{ 'is-cursor-spin': !hasInteractedGlobe }" class="c-SectionOne-dataOne-webgl-inner u-block">
                        <generalelectric-ib2020-globe v-on:pointerdown="hasInteractedGlobe = true" ref="globe" baseuri="/" mode="trade" v-bind:zoom="width < 1024 ? 0.8 : 1" transparent class="u-absolute u-pos-tl u-fit"></generalelectric-ib2020-globe>

                        <div class="c-Cursor-spin u-absolute u-hide u-align-items-c u-justify-content-c u-overflow-h | u-flex@sm">
                            <span class="c-Cursor-spin-label u-relative t-text--sm u-color--black">Spin</span>
                            <div class="c-Cursor-spin-icon u-absolute u-pos-tl u-fit u-flex u-align-items-c u-justify-content-c">
                                <img class="c-Cursor-spin-icon-img u-block u-force-3d" src="/static/images/icon-spin.png" alt="" width="64" height="56">
                            </div>
                        </div>
                    </cursor-trigger>
                </div>
            </div>

            <div class="c-SectionOne-dataOne-switch u-flex u-flex-flow-row-wrap">
                <div class="u-w3of16 u-offset-l-w2of16 | u-w4of16@lg | u-w5of16@md u-offset-l-w1of16@md | u-w6of8@sm u-offset-l-w1of8@sm">
                    <p class="c-Switch-legend t-text--sm u-color--gray-dark u-italic">Select categories</p>
                    <div class="u-relative">
                        <p v-bind:class="{ 'is-active': globeType === 'trade' }" class="c-SectionOne-dataOne-switch-item t-text--sm u-absolute u-pos-tl">Navigate around the globe to see how trade flows around the world.</p>
                        <p v-bind:class="{ 'is-active': globeType === 'phone' }" class="c-SectionOne-dataOne-switch-item t-text--sm">Navigate around the globe to see the mobile phone penetration by country.</p>
                        <p v-bind:class="{ 'is-active': globeType === 'internet' }" class="c-SectionOne-dataOne-switch-item t-text--sm u-absolute u-pos-tl">Navigate around the globe to see the world internet penetration rate.</p>
                    </div>
                    <div class="u-relative">
                        <share-btn class="u-marg-t-sm" />
                    </div>
                </div>

                <div class="c-Switch u-w7of16 u-offset-l-w1of16 | u-w8of16@md | u-w6of8@sm u-offset-l-w1of8@sm u-marg-t-lg@sm">
                    <ul class="t-list">
                        <li><button v-on:click="onGlobeChange('trade')" v-bind:class="{ 'is-active': globeType === 'trade' }" type="button" class="c-Switch-btn t-btn t-text--sm u-uppercase u-font-bold">Trade Flows</button></li>
                        <li><button v-on:click="onGlobeChange('phone')" v-bind:class="{ 'is-active': globeType === 'phone' }" type="button" class="c-Switch-btn t-btn t-text--sm u-uppercase u-font-bold">Mobile phone penetration</button></li>
                        <li><button v-on:click="onGlobeChange('internet')" v-bind:class="{ 'is-active': globeType === 'internet' }" type="button" class="c-Switch-btn t-btn t-text--sm u-uppercase u-font-bold">population using internet</button></li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="js-section js-nav-section c-SectionOne-dataTwo c-Container u-relative u-bg--white u-overflow-h">
            <h2 class="t-h3 u-w6of16 u-offset-l-w6of16 | u-offset-l-w5of16@md | u-w6of8@sm u-offset-l-w1of8@sm">Increasing pride and confidence</h2>

            <p class="c-SectionOne-dataTwo-desc t-h4 u-w7of16 u-offset-l-w2of16 | u-w8of16@md u-offset-l-w1of16@md | u-w14of16@sm u-offset-l-w1of16@sm">Business Executives all over the world are developing increasing confidence in their ability to innovate and also in viewing other countries abilities to innovate. </p>

            <cursor-trigger v-bind:name="'drag'" v-bind:active="!hasInteractedGraph" v-bind:class="{ 'is-cursor-drag': !hasInteractedGraph }" class="c-SectionOne-dataTwo-graphs u-block u-relative u-fit-w">
                <appear-object v-bind:active="isPageReady" class="u-block">
                    <div v-on:pointerdown="hasInteractedGraph = true" v-bind:class="{ 'is-active': graphActive === 0 }" class="c-SectionOne-dataTwo-graph">
                        <default-slider ref="sliderOne" class="u-select-none">
                            <div class="u-w12of16 u-offset-l-w4of16 u-white-space-nowrap u-vacuum | u-w15of16@sm u-offset-l-w1of16@sm">
                                <div v-for="(item, i) in graphOne" v-bind:key="i" class="js-item c-SectionOne-dataTwo-bar u-inline-block u-w1of12">
                                    <div class="c-SectionOne-dataTwo-bar-inner">
                                        <cursor-trigger v-bind:active="hasInteractedGraph" v-bind:name="'graph'" v-bind:value="item.cursorLabel" class="c-SectionOne-dataTwo-bar-color" v-bind:style="{ height: item.value / graphOneMax * 100 + '%' }">
                                            <div class="c-SectionOne-dataTwo-bar-color-bg u-absolute u-pos-tl u-fit" v-bind:class="'is-' + item.color"></div>
                                            <p class="u-relative t-text--sm u-text-center u-color--white u-pad-a-sm">{{item.value}}%</p>
                                        </cursor-trigger>
                                        <div class="c-SectionOne-dataTwo-bar-diff u-absolute u-pos-bl u-hide u-align-items-c u-justify-content-c u-bg--gray | u-flex@sm">
                                            <span class="t-text--sm u-color--black u-font-bold">{{item.cursorLabel}}</span>
                                        </div>
                                    </div>
                                    <p class="c-SectionOne-dataTwo-graph-label t-text--xxs u-font-bold u-uppercase u-text-center">{{item.label}}</p>
                                </div>
                            </div>
                        </default-slider>
                    </div>

                    <div v-on:pointerdown="hasInteractedGraph = true" v-bind:class="{ 'is-active': graphActive === 1 }" class="c-SectionOne-dataTwo-graph u-absolute u-fit-w u-pos-tl">
                        <default-slider ref="sliderTwo" class="u-select-none">
                            <div class="u-w12of16 u-offset-l-w4of16 u-white-space-nowrap u-vacuum | u-w15of16@sm u-offset-l-w1of16@sm">
                                <div v-for="(item, i) in graphTwo" v-bind:key="i" class="js-item c-SectionOne-dataTwo-bar u-inline-block u-w1of12">
                                    <div class="c-SectionOne-dataTwo-bar-inner">
                                        <div class="c-SectionOne-dataTwo-bar-color" v-bind:style="{ height: item.value / graphTwoMax * 100 + '%' }">
                                            <div class="c-SectionOne-dataTwo-bar-color-bg u-absolute u-pos-tl u-fit" v-bind:class="'is-' + item.color"></div>
                                            <p class="u-relative t-text--sm u-text-center u-color--white u-pad-a-sm">{{item.value}}%</p>
                                        </div>
                                    </div>
                                    <p class="c-SectionOne-dataTwo-graph-label t-text--xxs u-font-bold u-uppercase u-text-center">{{item.label}}</p>
                                </div>
                            </div>
                        </default-slider>
                    </div>
                </appear-object>

                <div class="c-Cursor-drag u-absolute u-hide u-align-items-c u-justify-content-c u-overflow-h | u-flex@sm">
                    <span class="c-Cursor-drag-label u-relative t-text--sm u-color--black">Drag</span>
                    <div class="c-Cursor-drag-icon u-absolute u-flex u-align-items-c u-justify-content-sb">
                        <span class="c-Cursor-drag-icon-arrow">
                            <span class="c-Cursor-drag-icon-arrow-line"></span>
                        </span>
                        <span class="c-Cursor-drag-icon-arrow">
                            <span class="c-Cursor-drag-icon-arrow-line"></span>
                        </span>
                    </div>
                </div>

            </cursor-trigger>

            <div class="u-flex u-flex-flow-row-wrap">
                <div class="u-relative u-w3of16 u-offset-l-w2of16 | u-w4of16@lg | u-w5of16@md u-offset-l-w1of16@md | u-w6of8@sm u-offset-l-w1of8@sm">
                    <p class="c-Switch-legend t-text--sm u-color--gray-dark u-italic">Select categories and drag the graph</p>
                </div>
                <div class="c-Switch u-relative u-w7of16 u-offset-l-w1of16 | u-w8of16@md | u-w6of8@sm u-offset-l-w1of8@sm u-marg-t-md@sm u-marg-b-lg@sm">
                    <ul class="t-list u-absolute u-pos-tl | u-relative@sm">
                        <li><button v-on:click="graphActive = 0" v-bind:class="{ 'is-active': graphActive === 0 }" type="button" class="c-Switch-btn t-btn t-text--sm u-uppercase u-font-bold">Innovation conducive environment</button></li>
                        <li><button v-on:click="graphActive = 1" v-bind:class="{ 'is-active': graphActive === 1 }" type="button" class="c-Switch-btn t-btn t-text--sm u-uppercase u-font-bold">Countries claiming to be self-sufficient</button></li>
                    </ul>
                </div>
            </div>

            <div class="u-flex u-flex-flow-row-wrap">
                <div class="u-relative u-w3of16 u-offset-l-w2of16 | u-w4of16@lg | u-w5of16@md u-offset-l-w1of16@md | u-w6of8@sm u-offset-l-w1of8@sm">
                    <div class="u-relative">
                        <div v-bind:class="{ 'is-active': graphActive === 0 }" class="c-SectionOne-dataTwo-graphs-desc">
                            <ul class="t-list">
                                <li class="t-text--sm u-relative"><span class="c-SectionOne-dataTwo-legend u-bg--blue"></span>60% + see as innovation conducive</li>
                                <li class="t-text--sm u-relative"><span class="c-SectionOne-dataTwo-legend u-bg--blue-light"></span>50% - 59% see as innovation conducive</li>
                                <li class="t-text--sm u-relative"><span class="c-SectionOne-dataTwo-legend u-bg--gray-dark"></span>49% or less see as innovation conducive</li>
                            </ul>
                            <p class="t-text--sm u-marg-t-md">+ - Change, 2018 to 2020</p>
                            <div class="u-marg-t-sm | u-relative@sm">
                                <question-btn number="3" question="For each of the following markets, how far would you say that they have developed an Innovation conducive environment?" response="(Top 3 Box) Base: Business Executives 2018: 2,090, Business Executives 2020: 2,307)" />
                                <share-btn class="u-marg-l-xs" />
                            </div>
                        </div>
                        <div v-bind:class="{ 'is-active': graphActive === 1 }" class="c-SectionOne-dataTwo-graphs-desc u-absolute u-pos-tl u-fit-w">
                            <p class="t-text--sm">My country is self-sufficient, and we don’t need to rely on other countries to innovate (% who agree).</p>
                            <div class="u-marg-t-sm | u-relative@sm">
                                <question-btn number="15" question="To what extent do you agree or disagree with the following statements related to innovation?" response="(NET Agree) Base: Business Executives 2020: 2,307)" />
                                <share-btn class="u-marg-l-xs" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="u-w7of16 u-offset-l-w1of16 | u-w8of16@md | u-w14of16@sm u-offset-l-w1of16@sm">
                    <p class="c-SectionOne-dataTwo-desc c-SectionOne-dataTwo-desc--alt t-h4">Geographically, we are seeing the rise of the East as an innovation hotspot, as well as growing confidence in the Middle East.</p>
                </div>
            </div>
        </section>

        <section class="js-section js-nav-section c-SectionOne-dataThree c-Container u-relative u-bg--white">
            <h2 class="t-h3 u-w6of16 u-offset-l-w6of16 | u-offset-l-w5of16@md | u-w6of8@sm u-offset-l-w1of8@sm">A sustainable future</h2>

            <p class="c-SectionOne-dataThree-desc t-h4 u-w7of16 u-offset-l-w2of16 | u-w8of16@md u-offset-l-w1of16@md | u-w14of16@sm u-offset-l-w1of16@sm">The role of innovation in creating sustainable futures and impact at a societal level is a key measure of success rather than innovating for innovations sake.</p>

            <div class="u-relative u-fit-w">
                <parallax-object v-bind:ratio="0.1" class="c-SectionOne-dataThree-img u-w5of16 u-absolute u-pos-br u-offset-r-w1of16 | u-w10of16@sm u-offset-l-w5of16@sm">
                    <div class="c-SectionOne-dataThree-img-inner">
                        <img src="/static/images/one/2.jpg" alt="" class="u-absolute u-pos-tl u-fit">
                    </div>
                </parallax-object>

                <parallax-object v-bind:ratio="0.2" class="c-SectionOne-dataThree-gradient u-w2of16 u-absolute u-pos-br u-offset-r-w1of16 | u-w4of16@sm u-offset-r-w9of16@sm">
                    <div class="c-SectionOne-dataThree-gradient-inner"></div>
                </parallax-object>

                <div class="c-SectionOne-dataThree-video u-w10of16 u-offset-l-w2of16  | u-fit-w@sm u-marg-l-0@sm">
                    <video-observer class="c-SectionOne-dataThree-video-container">
                        <video-responsive>
                            <video class="js-video u-absolute u-pos-tl u-fit" poster="/static/images/one/sustainable_future-poster.jpg" loop muted playsinline>
                                <source src="/static/videos/one/sustainable_future.webm" type="video/webm">
                                <source src="/static/videos/one/sustainable_future.mp4" type="video/mp4">

                                <source srcset="/static/videos/one/sustainable_future-mobile.webm" type="video/webm" media="(max-width: 767px)">
                                <source srcset="/static/videos/one/sustainable_future-mobile.mp4" type="video/mp4" media="(max-width: 767px)">
                            </video>
                        </video-responsive>
                    </video-observer>
                </div>
            </div>

            <div class="u-w3of16 u-offset-l-w2of16 u-marg-t-md | u-w4of16@lg | u-w5of16@md | u-w6of8@sm u-offset-l-w1of8@sm u-relative@sm">
                <div class="u-flex">
                    <question-btn number="35" question="When innovating, it is best..." response="Base: Business Executives 2020: 2,307)" />
                    <share-btn class="u-marg-l-xs" />
                </div>

                <p class="c-SectionOne-dataThree-legend t-text--sm u-color--gray-dark u-italic u-marg-t-lg">See how your answer compares to the IB data by selecting A or B</p>
            </div>

            <cursor-trigger v-bind:name="'click'" v-bind:active="questionActive === -1" class="u-flex u-marg-t-md u-flex-flow-row-wrap">
                <div class="c-SectionOne-dataThree-questions u-w4of16 u-offset-l-w1of16 | u-w5of16@lg | u-w8of16@md | u-w14of16@sm u-offset-l-w1of16@md">
                    <div v-bind:class="{ 'is-active': questionActive === 'a', 'is-disabled': questionActive === 'b' }" class="c-SectionOne-dataThree-questions-item u-flex u-align-items-c u-relative">
                        <input v-model="questionActive" class="t-input--radio u-w1of4 | u-w1of5@lg | u-w1of4@md" type="radio" id="question-a" name="questionActive" value="a">
                        <label for="question-a" class="u-w3of4 | u-w4of5@lg | u-w3of4@md u-pad-l-0@md">
                            <p class="c-SectionOne-dataThree-questions-item-desc t-text--sm"><span class="u-color--gray-dark">A.</span> You feel innovations that prioritize a long-term societal or environmental benefit are the best way to innovate.</p>
                        </label>
                    </div>
                    <div class="c-SectionOne-dataThree-questions-line"></div>
                    <div v-bind:class="{ 'is-active': questionActive === 'b', 'is-disabled': questionActive === 'a' }" class="c-SectionOne-dataThree-questions-item u-flex u-align-items-c u-relative">
                        <input v-model="questionActive" class="t-input--radio u-w1of4 | u-w1of5@lg | u-w1of4@md" type="radio" id="question-b" name="questionActive" value="b">
                        <label for="question-b" class="u-w3of4 | u-w4of5@lg | u-w3of4@md u-pad-l-0@md">
                            <p class="c-SectionOne-dataThree-questions-item-desc t-text--sm"><span class="u-color--gray-dark">B.</span> You think innovations that prioritize short-term profitability and related business objectives are the best way to innovate.</p>
                        </label>
                    </div>
                </div>
                <div v-if="width >= 1024 || questionActive != -1" class="c-SectionOne-dataThree-results u-relative u-w7of16 u-offset-l-w1of16 | u-w8of16@md u-offset-l-w5of16@md | u-w14of16@sm u-offset-l-w1of16@sm">
                    <div v-bind:class="{ 'is-active': questionActive === 'a' }" class="c-SectionOne-dataThree-results-item">
                        <span class="c-SectionOne-dataThree-results-number u-color--blue">{{questionDataOne}}<sup>%</sup></span>
                        <p class="u-w3of7 t-text--sm | u-w4of7@lg | u-w10of14@md">Percentage of answer A selected by Business Executives.</p>
                        <p class="c-SectionOne-dataThree-results-item-text t-h4 u-marg-t-md">Countries globally feel that innovation has to have a societal long-term benefit.</p>
                    </div>
                    <div v-bind:class="{ 'is-active': questionActive === 'b' }" class="c-SectionOne-dataThree-results-item u-absolute u-pos-tl ">
                        <span class="c-SectionOne-dataThree-results-number u-color--blue">{{questionDataTwo}}<sup>%</sup></span>
                        <p class="u-w3of7 t-text--sm | u-w4of7@lg | u-w10of14@md">Percentage of answer B selected by Business Executives.</p>
                        <p class="c-SectionOne-dataThree-results-item-text t-h4 u-marg-t-md">Countries globally feel that innovation has to have a societal long-term benefit.</p>
                    </div>
                </div>
            </cursor-trigger>
        </section>

        <next-section v-bind:url="'/sections/redefinition-of-global-innovation'" v-bind:label="'Section 02'" v-bind:title="'A redefinition of the global Innovation influence map'" />

    </div>
</template>

<script>
    import { mapState, mapGetters, mapActions } from 'vuex';
    import { gsap, Quad } from 'gsap';
    import scrollToY from '@/utilities/scrollToY';
    import getOffsetTop from '@/utilities/getOffsetTop';

    import '@damienmortini/generalelectric-ib2020-globe/src/index.js';

    import CursorTrigger from '@/components/CursorTrigger';
    import ParallaxObject from '@/components/ParallaxObject';
    import ObjectFit from '@/components/ObjectFit';
    import VideoObserver from '@/components/VideoObserver';
    import DefaultSlider from '@/components/DefaultSlider';
    import NextSection from '@/components/NextSection';
    import AppearObject from '@/components/AppearObject';
    import SubHeader from '@/components/SubHeader';
    import QuestionBtn from '@/components/QuestionBtn';
    import VideoResponsive from '@/components/VideoResponsive';
    import ShareBtn from '@/components/ShareBtn';

    export default {
        name: 'Home',

        components: {
            CursorTrigger,
            ParallaxObject,
            ObjectFit,
            VideoObserver,
            DefaultSlider,
            NextSection,
            AppearObject,
            SubHeader,
            QuestionBtn,
            VideoResponsive,
            ShareBtn,
        },

        props: {
            initIndex: { type: Number, default: 0 },
        },

        data() {
            return {
                isPageReady: false,
                isFromSections: false,
                isFromSection: false,

                globeType: 'trade',

                hasInteractedGraph: false,
                hasInteractedGlobe: false,
                hasInteractedQuestion: false,

                graphActive: 0,
                questionActive: -1,

                graphOneMax: 73,
                graphOne: [
                    {
                        value: 73,
                        label: 'USA',
                        cursorLabel:  '-3',
                        color: 'blue',
                    },
                    {
                        value: 70,
                        label: 'Japan',
                        cursorLabel:  '-3',
                        color: 'blue',
                    },
                    {
                        value: 68,
                        label: 'China',
                        cursorLabel:  '+9',
                        color: 'blue',
                    },
                    {
                        value: 63,
                        label: 'Germany',
                        cursorLabel:  '-2',
                        color: 'blue',
                    },
                    {
                        value: 53,
                        label: 'UK',
                        cursorLabel:  '0',
                        color: 'cyan',
                    },
                    {
                        value: 52,
                        label: 'South Korea',
                        cursorLabel:  '+7',
                        color: 'cyan',
                    },
                    {
                        value: 50,
                        label: 'Canada',
                        cursorLabel:  '+1',
                        color: 'cyan',
                    },
                    {
                        value: 48,
                        label: 'Switzerland',
                        cursorLabel:  '+3',
                        color: 'gray',
                    },
                    {
                        value: 48,
                        label: 'Singapore',
                        cursorLabel:  '+5',
                        color: 'gray',
                    },
                    {
                        value: 46,
                        label: 'Sweden',
                        cursorLabel:  '+1',
                        color: 'gray',
                    },
                    {
                        value: 45,
                        label: 'France',
                        cursorLabel:  '-1',
                        color: 'gray',
                    },
                    {
                        value: 43,
                        label: 'Australia',
                        cursorLabel:  '+3',
                        color: 'gray',
                    },
                    {
                        value: 43,
                        label: 'Russia',
                        cursorLabel:  '+7',
                        color: 'gray',
                    },
                    {
                        value: 40,
                        label: 'Netherlands',
                        cursorLabel:  '+5',
                        color: 'gray',
                    },
                    {
                        value: 40,
                        label: 'UAE',
                        cursorLabel:  '+9',
                        color: 'gray',
                    },
                    {
                        value: 38,
                        label: 'Finland',
                        cursorLabel:  '+4',
                        color: 'gray'
                    },
                    {
                        value: 37,
                        label: 'India',
                        cursorLabel:  '+9',
                        color: 'gray',
                    },
                    {
                        value: 37,
                        label: 'Italy',
                        cursorLabel:  '+3',
                        color: 'gray',
                    },
                    {
                        value: 36,
                        label: 'Israel',
                        cursorLabel:  '+9',
                        color: 'gray',
                    },
                    {
                        value: 35,
                        label: 'Saudi Arabia',
                        cursorLabel:  '+11',
                        color: 'gray',
                    },
                    {
                        value: 32,
                        label: 'Malaysia',
                        cursorLabel:  '+9',
                        color: 'gray',
                    },
                    {
                        value: 31,
                        label: 'Ireland',
                        cursorLabel:  '+6',
                        color: 'gray',
                    },
                    {
                        value: 29,
                        label: 'Turkey',
                        cursorLabel:  '+9',
                        color: 'gray',
                    },
                    {
                        value: 28,
                        label: 'Poland',
                        cursorLabel:  '+8',
                        color: 'gray',
                    },
                    {
                        value: 26,
                        label: 'Brazil',
                        cursorLabel:  '+6',
                        color: 'gray',
                    },
                    {
                        value: 26,
                        label: 'Indonesia',
                        cursorLabel:  '+7',
                        color: 'gray',
                    },
                    {
                        value: 23,
                        label: 'Vietnam',
                        cursorLabel:  '+10',
                        color: 'gray',
                    },
                    {
                        value: 22,
                        label: 'Mexico',
                        cursorLabel:  '+4',
                        color: 'gray',
                    },
                    {
                        value: 22,
                        label: 'South Africa',
                        cursorLabel:  '+6',
                        color: 'gray',
                    },
                    {
                        value: 17,
                        label: 'Algeria',
                        cursorLabel:  '+7',
                        color: 'gray',
                    },
                    {
                        value: 17,
                        label: 'Kenya',
                        cursorLabel:  '+7',
                        color: 'gray',
                    },
                    {
                        value: 17,
                        label: 'Nigeria',
                        cursorLabel:  '+6',
                        color: 'gray',
                    },
                    {
                        value: 16,
                        label: 'Iraq',
                        cursorLabel:  '0',
                        color: 'gray',
                    }
                ],
                graphTwoMax: 69,
                graphTwo: [
                    {
                        value: 69,
                        label: 'India',
                        color: 'blue',
                    },
                    {
                        value: 66,
                        label: 'USA',
                        color: 'blue',
                    },
                    {
                        value: 60,
                        label: 'Vietnam',
                        color: 'blue',
                    },
                    {
                        value: 59,
                        label: 'France',
                        color: 'blue',
                    },
                    {
                        value: 59,
                        label: 'UK',
                        color: 'blue',
                    },
                    {
                        value: 58,
                        label: 'Saudi Arabia',
                        color: 'blue',
                    },
                    {
                        value: 56,
                        label: 'UAE',
                        color: 'blue',
                    },
                    {
                        value: 56,
                        label: 'China',
                        color: 'blue',
                    },
                    {
                        value: 52,
                        label: 'Germany',
                        color: 'blue',
                    },
                    {
                        value: 46,
                        label: 'Indonesia',
                        color: 'blue',
                    },
                    {
                        value: 46,
                        label: 'Turkey',
                        color: 'blue',
                    },
                    {
                        value: 45,
                        label: 'Total',
                        color: 'dark',
                    },
                    {
                        value: 45,
                        label: 'Brazil',
                        color: 'blue',
                    },
                    {
                        value: 41,
                        label: 'Japan',
                        color: 'blue',
                    },
                    {
                        value: 40,
                        label: 'Poland',
                        color: 'blue',
                    },
                    {
                        value: 38,
                        label: 'South Africa',
                        color: 'blue',
                    },
                    {
                        value: 38,
                        label: 'South Korea',
                        color: 'blue',
                    },
                    {
                        value: 37,
                        label: 'Malaysia',
                        color: 'blue',
                    },
                    {
                        value: 36,
                        label: 'Mexico',
                        color: 'blue',
                    },
                    {
                        value: 28,
                        label: 'Israel',
                        color: 'blue',
                    },
                    {
                        value: 27,
                        label: 'Iraq',
                        color: 'blue',
                    },
                    {
                        value: 20,
                        label: 'Nigeria',
                        color: 'blue',
                    },
                    {
                        value: 10,
                        label: 'Kenya',
                        color: 'blue',
                    }
                ],

                questionDataOne: 68,
                questionDataTwo: 0,
            };
        },

        computed: {
            ...mapState('window', [
                'width',
                'minHeight',
            ]),

            ...mapState('main', [
                'navigationOpen',
            ]),

            ...mapGetters('window', [
                'isMobile',
                'halfHeight'
            ]),
        },

        watch: {
            graphActive: 'onGraphChange',
            questionActive: 'onQuestionChange',
        },

        beforeRouteEnter (to, from, next) {
            next((vm) => {
                if(from.meta.type === 'section') {
                    vm.isFromSection = true;
                }

                if (from.name === 'Sections') {
                    vm.isFromSections = true;
                }
            });
        },

        mounted() {
            this.setCurrentNav(10);
            this.$eventHub.$on('page:ready', this.onPageReady);

            this.$eventHub.$on('resize', this.resize);
            this.$eventHub.$on('update', this.update);
            this.$eventHub.$on('route:scroll', this.onRouteScroll);

            this.$nextTick(() => {
                this.$eventHub.$emit('page:enter');

                this.$navSections = Array.from(this.$el.querySelectorAll('.js-nav-section'));
            });
        },

        beforeDestroy() {
            this.$eventHub.$off('page:ready', this.onPageReady);

            this.$eventHub.$off('resize', this.resize);
            this.$eventHub.$off('update', this.update);
            this.$eventHub.$off('route:scroll', this.onRouteScroll);
        },

        methods: {
            ...mapActions('main', [
                'setCurrentNav'
            ]),

            resize() {
                if (!this.$navSections) return;

                this.cuePoints = [];

                this.$navSections.forEach((el) => {
                    this.cuePoints.push(getOffsetTop(el));
                });
            },

            update() {
                if (!this.cuePoints) return;

                this.cuePoints.forEach((offset, i) => {
                    let nextCuePoints = this.cuePoints[i+1] ? this.cuePoints[i+1] : 99999999;

                    if (this.$root.smoothScroll > this.cuePoints[i] - this.halfHeight && this.$root.smoothScroll < nextCuePoints - this.halfHeight ) {
                        this.setCurrentNav(10+i);
                    }
                });
            },

            onScroll() {
                scrollToY(this.$root.scrollTop + this.minHeight);
            },

            onPageReady() {
                this.isPageReady = true;

                if (this.initIndex) {
                    this.cuePoints[this.initIndex];

                    const offset = this.initIndex < 2 ? 0 : 160;
                    scrollToY(this.cuePoints[this.initIndex] - offset);
                }

                setTimeout(() => {
                    this.$eventHub.$emit('webgl:pause');
                }, 800);
            },

            onRouteScroll(index) {
                if (!this.isPageReady) return;

                const offset = index < 2 ? 0 : 160;
                scrollToY(this.cuePoints[index] - offset);
            },

            onGraphChange() {
                if (this.graphActive === 0) {
                    this.$refs.sliderTwo.goToItem(0);
                } else {
                    this.$refs.sliderOne.goToItem(0);
                }
            },

            onQuestionChange() {
                let init  = { value: (this.questionActive === 'a') ? 48 : 12 };
                let target = (this.questionActive === 'a') ? 68 : 32;

                gsap.to(init, 0.8, { value: target, ease: Quad.easeOut, onUpdate: () => {
                    if (this.questionActive === 'a') {
                        this.questionDataOne = Math.round(init.value);
                    } else {
                        this.questionDataTwo = Math.round(init.value);
                    }
                } });
            },

            onGlobeChange(type) {
                this.globeType = type;

                this.$refs.globe.mode = type;
            },
        },
    }
</script>

<style lang="stylus">
    .c-SectionOne {

        &-line {
            opacity 0
            transform translateY(80px) translateZ(0)
            will-change transform, opacity

            .is-page-ready & {
                opacity 1
                transform translateZ(0)
            }

            for n in 0..4 {
                &--{n} {
                     transition transform 0.8s $ease-out-quart (n * 0.1s), opacity 0.8s $ease-out-quart (n * 0.1s)
                }
            }

            .is-from-sections & {
                opacity 1
                transform translateZ(0)
                transition none;
            }
        }

        &-intro {
            // z-index 0

            &-video {
                opacity 0
                transform translateZ(0)
                transition opacity 0.8s $ease-out-quart
                will-change opacity

                .is-page-ready & {
                    opacity 1
                }

                .is-from-section & {
                    opacity 1
                    transition none
                }
            }

            &-title {
                &-line {
                    &-2 {
                        margin-top 145px

                        @media $breakpoints.lg {
                            margin-top calc(145 * 100vh / 1125)
                        }

                        @media $breakpoints.sm {
                            margin-top calc(75 * 100vh / 1125)
                        }
                    }

                    &-3 {
                        margin-top 5px

                        @media $breakpoints.sm {
                            margin-top 0
                        }
                    }
                }
            }

            &-desc {
                margin-top 30px

                @media $breakpoints.sm {
                    margin-top 75px
                    margin-bottom 95px
                }

                @media $breakpoints.smh {
                    margin-top 40px
                }
            }

            &-icon {
                margin-top -4px
                margin-right 12px
            }

            &-text {
                margin-top 20px
            }

            &-scroll {
                margin-bottom 90px

                @media $breakpoints.sm {
                    margin-bottom 42px
                }

                &-btn {
                    opacity 0
                    transform translateZ(0)
                    transition opacity 0.8s $ease-out-quart
                    will-change opacity

                    .is-page-ready & {
                        opacity 1
                    }
                }
            }
        }

        &-dataOne {
            // z-index 1
            padding-top 355px
            padding-bottom 305px

            @media $breakpoints.sm {
                padding-top 270px
                padding-bottom 270px
            }

            &-desc {
                padding-top 145px
                padding-bottom 155px
            }

            &-img {
                margin-bottom 70px
                padding-left 2.77%
                padding-right 1.39%

                @media $breakpoints.sm {
                    top 0
                    bottom auto
                    margin-bottom 0
                    padding-left 0
                    padding-right 0
                }

                &-inner {
                    aspect-ratio(446, 288)
                }
            }

            &-webgl {
                padding-left 2.77%

                @media $breakpoints.sm {
                    padding-top 115px
                    padding-left 0
                }

                &-inner {
                    aspect-ratio(808, 504)
                    border-radius 4px
                    overflow hidden

                    backdrop-filter: blur(7px);
                    background linear-gradient(to bottom, #0060b4, rgba(#0eb5df, 0.1));

                    @media $breakpoints.md {
                        aspect-ratio(1, 1.2)
                    }

                    @media $breakpoints.sm {
                        aspect-ratio(678, 886)
                    }

                    cursor grab

                    &:active {
                        cursor grabbing
                    }
                }
            }

            &-switch {
                margin-top 60px

                @media $breakpoints.sm {
                    margin-top 45px
                }

                &-item {
                    opacity 0
                    visibility hidden
                    transform translateZ(0)
                    will-change opacity, visibility

                    transition none

                    &.is-active {
                        opacity 1
                        visibility visible

                        transition opacity 0.8s $ease-out-quart, visibility 0.8s $ease-out-quart
                    }
                }
            }
        }

        &-dataTwo {
            // z-index 1
            padding-bottom 200px

            @media $breakpoints.sm {
                padding-bottom 150px
            }

            &-icon {
                margin-right 10px
            }

            &-desc {
                padding-top 145px
                padding-bottom 110px

                &--alt {
                    padding-top 100px

                    @media $breakpoints.sm {
                        padding-top 90px
                    }
                }
            }

            &-graphs {
                margin-top 5px
                margin-bottom 80px

                @media $breakpoints.sm {
                    margin-bottom 70px
                }

                &-desc {
                    opacity 0
                    visibility hidden
                    transform translateZ(0)
                    will-change opacity, visibility

                    transition none

                    &.is-active {
                        opacity 1
                        visibility visible

                        transition opacity 0.8s $ease-out-quart, visibility 0.8s $ease-out-quart
                    }
                }
            }

            &-graph {
                opacity 0
                visibility hidden
                transform translateZ(0)
                will-change opacity, visibility

                transition none

                &.is-active {
                    opacity 1
                    visibility visible

                    transition opacity 0.8s $ease-out-quart, visibility 0.8s $ease-out-quart
                }

                &-label {
                    position relative
                    margin-top 40px
                    letter-spacing 0.05em
                }
            }

            &-bar {
                transform translateZ(0)
                will-change transform
                overflow hidden
                position relative
                padding 0 3px
                min-width 80px

                @media $breakpoints.sm {
                    min-width 75px
                }

                for n in (1..13) {
                    &:nth-child({n}) {
                        .c-SectionOne-dataTwo-bar-color-bg {
                            .is-active & {
                                .is-appear & {
                                    transition transform 0.8s $ease-out-quart (n * 0.05s)
                                }
                            }
                        }
                    }
                }

                &-inner {
                    height 400px
                    width 100%
                    position relative
                    display inline-block
                    vertical-align bottom
                }

                &-color {
                    position absolute
                    bottom 0
                    left 0
                    width 100%
                    height 100%

                    &-bg {
                        border-radius 4px
                        box-shadow: inset 0px 1px 0px 1px rgba(white, 0.5)
                        transform-origin bottom
                        transform scaleY(0) translateZ(0)
                        transition transform 0s $ease-out-quart 0.4s
                        will-change transform

                        .is-active & {
                            .is-appear & {
                                transform scaleY(1) translateZ(0)
                            }
                        }

                        &.is-blue {
                            background linear-gradient(to bottom, #0060b4, #86daef, #FFFFFF);
                        }

                        &.is-dark {
                            background linear-gradient(to bottom, #12375b, #0060b4, #FFFFFF);
                        }

                        &.is-cyan {
                            background linear-gradient(to bottom, #0eb5df, #86daef, #FFFFFF);
                        }

                        &.is-gray {
                            background linear-gradient(to bottom, #858d94, #c2c6c9, #FFFFFF);
                        }
                    }

                    .u-pad-a-sm {
                        transform translateZ(0)
                        will-change transform
                    }

                    .t-text--xxs {
                        letter-spacing 0.05em
                    }
                }

                &-diff {
                    width 42px
                    height 42px

                    border-radius 50%

                    left 50%
                    margin-left -21px
                }
            }

            &-legend {
                position absolute
                top 6px
                left -18px
                width 10px
                height 8px
                border-radius 2px
                display inline-block
                vertical-align middle
            }
        }

        &-dataThree {
            // z-index 1
            padding-bottom 310px

            @media $breakpoints.sm {
                padding-bottom 270px
            }

            &-desc {
                padding-top 145px
                padding-bottom 115px
            }

            &-legend {
                margin-top 60px
            }

            &-gradient {
                bottom 270px
                padding-left 3.472%

                @media $breakpoints.lg {
                    top -20px
                    bottom auto
                }

                @media $breakpoints.md {
                    padding-left 0
                    bottom auto
                    top -30px
                }

                @media $breakpoints.sm {
                    padding-left 0
                    bottom auto
                    top 0
                }

                &-inner {
                    aspect-ratio(120, 150)
                    border-radius 4px
                    overflow hidden

                    backdrop-filter: blur(7px);
                    background linear-gradient(to top, #0060b4, rgba(#0eb5df, 0.1));
                }
            }

            &-img {
                bottom -45px
                padding 0 2.78%

                @media $breakpoints.sm {
                    padding 0
                    padding-top 30px
                    bottom auto
                    top 0
                }

                &-inner {
                    aspect-ratio(340, 428)
                    border-radius 4px
                    overflow hidden
                }
            }

            &-video {
                padding-right 2.78%

                @media $breakpoints.sm {
                    padding-top 255px
                    padding-right 0
                }

                &-container {
                    aspect-ratio(16, 9)
                    border-radius 4px
                    overflow hidden
                    background $colors['black'];

                    @media $breakpoints.sm {
                        aspect-ratio(374, 664)
                    }
                }
            }

            &-questions {
                &-line {
                    position relative
                    left -5%
                    width 110%
                    height 1px
                    background $colors['gray'];

                    // @media $breakpoints.lg {
                    //     left -5%
                    //     width 110%
                    // }

                    @media $breakpoints.sm {
                        left -10%
                        width 120%
                    }
                }

                &-item {
                    margin 30px 0

                    &:last-child {
                        position relative

                        @media $breakpoints.md {
                            padding-bottom 0px
                        }
                    }

                    &:hover {
                        .c-SectionOne-dataThree-questions-item-letter {
                            opacity 1

                            &:before {
                                opacity 1
                            }
                        }
                    }

                    &-letter {
                        display inline-block

                        opacity 0.3
                        transform translateZ(0)
                        transition color 0.6s $ease-out-quart, opacity 0.6s $ease-out-quart
                        will-change color, opacity

                        .is-active & {
                            opacity 1
                        }

                        &:before {
                            content ""
                            position absolute
                            top 50%
                            right 0px

                            width 6px
                            height 6px

                            margin-top -2px


                            border-radius 50px

                            background $colors['black'];

                            opacity 0
                            transform translateZ(0)
                            transition opacity 0.6s $ease-out-quart
                            will-change opacity
                        }

                        &:after {
                            content ""
                            width 6px
                            height 6px
                            display inline-block
                            vertical-align middle
                            border-radius 50px
                            margin-left 20px
                            background $colors['blue'];

                            opacity 0
                            transform translateZ(0)
                            transition opacity 0.6s $ease-out-quart
                            will-change opacity
                        }


                        .is-active & {
                            opacity 1
                            color  $colors['blue'];

                            &:after {
                                opacity 1
                            }
                        }
                    }

                    &-desc {
                        opacity 1
                        transform translateZ(0)
                        transition opacity 0.6s $ease-out-quart
                        will-change opacity

                        .is-disabled & {
                            opacity 0.3
                        }
                    }
                }
            }

            &-results {
                // padding 0 2.78%

                @media $breakpoints.md {
                    margin-top 95px
                }

                &-item {
                    opacity 0
                    visibility hidden
                    transform translateZ(0)
                    will-change opacity, visibility

                    transition none

                    &.is-active {
                        opacity 1
                        visibility visible

                        transition opacity 0.8s $ease-out-quart, visibility 0.8s $ease-out-quart
                    }

                    &-text {
                        @media $breakpoints.md {
                            margin-top 70px
                        }
                    }
                }

                &-number {
                    line-height 1.05
                    font-size 11.528vw

                    @media $breakpoints.sm {
                        font-size 40.8vw
                    }

                    sup {
                        top -0.5em
                        font-size 60%
                    }
                }
            }
        }

    }
</style>