<template>
    <div>
        <slot />
    </div>
</template>

<script>
    export default {
        name: 'ToggleElement',

        created() {
            this._onBtnClick = this.onBtnClick.bind(this);
        },

        mounted() {
            this.$nextTick(() => {
                this.$toggleBtns = Array.from(this.$el.querySelectorAll('.js-toggle-btn'));
                this.$elements  = Array.from(this.$el.querySelectorAll('.js-toggle-element'));

                this.$toggleBtns.forEach((el) => {
                    el.addEventListener('click', this._onBtnClick);
                });
            });
        },

        beforeDestroy() {
            this.$toggleBtns.forEach((el) => {
                el.removeEventListener('click', this._onBtnClick);
            });
        },

        methods: {
            onBtnClick(event) {
                // Remove class on other elements
                // -------------

                this.$toggleBtns.forEach((el) => {
                    el.classList.remove('is-active');
                });

                this.$elements.forEach((el) => {
                    el.classList.remove('is-active');
                });

                // Add class on the new current element / btn
                // -------------

                let target = event.currentTarget.getAttribute('data-target');
                let targetElem = this.$el.querySelector(target);

                if (targetElem) {
                    event.currentTarget.classList.add('is-active')
                    targetElem.classList.add('is-active');
                }
            },
        }
    }
</script>