// --------------------------------------------------
// Colors
// --------------------------------------------------

$colors = {
    transparent: rgba(white, 0.02)
    black: #0c1c2a
    white: #FFFFFF

    blue: #0060b4
    blue-light: #0eb5df

    // gray-lightness: #f1f1f1
    // gray-light: #D8D8D8
    gray: #e8e7e5
    gray-dark: #858d94
    // gray-darkness: #111111
}
