// -------------------------
// Font
// -------------------------

$base = "GE Inspira Sans", "Helvetica Neue", "Helvetica", "Arial", 'sans-serif';
$bold = "GE Inspira Sans Bold", "Helvetica Neue", "Helvetica", "Arial", 'sans-serif';
$italic = "GE Inspira Sans Italic", "Helvetica", "Arial", 'sans-serif';

$fonts = {
    base: $base
    bold: $bold
    italic: $italic
}

$fontSize = {
    xxs: 10px
    xs: 13px
    sm: 14px
    md: 16px
    lg: 18px
    xl: 20px
}

$fontSizeHeading = {
    h1: 6.39vw // 92px
    h2: 2.92vw // 42px
    h3: 2.92vw
    h4: 1.945vw //28px
    h5: 0px
    h6: 0px
}