// --------------------------------------------------
// Global
// --------------------------------------------------

$assets-path =  "/static/images/"
$font-path  =   "/static/fonts/"


// -------------------------
// grids specifications
// -------------------------

$grids = (2 3 4 5 7 6 8 9 10 11 12 14 16)


// -------------------------
// breakpoints
// -------------------------

$breakpoints = {
    default: unquote("only all")
    xl: unquote("screen and (max-width: 1500px)") // xlarge
    lg: unquote("screen and (max-width: 1280px)") // large
    md: unquote("screen and (max-width: 1023px)") // medium
    sm: unquote("screen and (max-width: 767px)") // small
    xs: unquote("screen and (max-width: 374px)") // xsmall

    smh: unquote("screen and (max-width: 767px) and (max-height: 633px)") // xsmall
}
