// --------------------------------------------------
// Mixins
// --------------------------------------------------


// font-size in rem
font-size() {
    if(arguments == 'inherit'){
        font-size arguments
    }
    else {
        u = unit(arguments);

        if(u is 'px') {
          font-size '%s' % arguments
          font-size unit((arguments / 16) , 'rem')
        }
        else {
            font-size '%s' % arguments
        }
    }
}

/// Maintain an elements aspect ratio, even as it scales.
///
/// @example scss - Usage
///   .element {
///     @include aspect-ratio(16, 9);
///   }
///
/// @example css - CSS Output
///   .element {
///     position: relative;
///
///     &:before {
///       padding-top: 56.25%;
///       display: block;
///       content: '';
///     }
///   }

aspect-ratio($width, $height) {
    position relative

    &::before {
        position relative
        content ''
        display block
        height 0
        width 100%
        padding-top ($height / $width * 100%);
    }
}

random(min, max) {
    return floor(math(0, 'random')*(max - min + 1) + min)
}
