// --------------------------------------------------
// Reset placeholders
// --------------------------------------------------

$reset-spacing {
    margin 0
    padding 0
}

$reset-heading {
    margin 0 unless @margin
    font-weight normal unless @font-weight
    line-height 1 unless @line-height
}

$reset-paragraph {
    margin 0 unless @margin
    line-height 1 unless @line-height
}

$reset-input {
    font-family inherit
    background none
    border none
    outline none

    padding 0

    -webkit-appearance none !important
}

$reset-list {
    list-style none
    margin 0
    padding 0
}

$reset-link {
    color inherit;
    cursor pointer;

    &:hover {
        text-decoration none
    }

    &:active, &:focus {
        // outline none;
    }
}

$reset-media {
    display block
}

$reset-font-size {
    font-size 0px
}

$reset-position {
    top 0
    left 0
}

$reset-font-style {
    font-style normal;
}
