
// -------------------------
// border-box and margin
// -------------------------

$margins = {
    xxs: 7px
    xs: 10px
    sm: 20px
    md: 30px
    lg: 50px
    xl: 100px
    xxl: 160px
}

$paddings = {
    xxs: 7px
    xs: 10px
    sm: 20px
    md: 30px
    lg: 50px
    xl: 100px
    xxl: 160px
}
