// --------------------------------------------------
// Buttons
// --------------------------------------------------


.t-btn {
    font-family inherit
    background none
    border none
    text-align left

    padding 0

    -webkit-appearance none !important
    outline none

    @extends $reset-link

    cursor pointer
    text-decoration none
}

.t-btn--primary {
    @extend .t-btn

    position relative

    padding 14px 20px


    border-radius 30px

    span, svg {
        position relative
    }

    &:before {
        content ""

        position absolute
        top 0
        left 0
        width 100%
        height 100%

        border 1px solid $colors['black'];
        border-radius 30px

        opacity 0.15
        will-change opacity
        transform translateZ(0)
        transition opacity 0.6s $ease-out-quart
    }

    &:hover {
        &:before {
            opacity 0.5
        }
    }

}

