// --------------------------------------------------
// headings
// --------------------------------------------------

.t-h1 {
    @extends $reset-heading

    font-size $fontSizeHeading['h1'];
    font-family $fonts['base'];
    line-height 1

    @media $breakpoints.md {
        font-size 8.2vw
    }
    @media $breakpoints.sm {
        font-size 15.2vw
    }
}

.t-h2 {
    @extends $reset-heading

    font-size $fontSizeHeading['h2'];
    font-family $fonts['base'];

    line-height 1.143

    // @media $breakpoints.md {}
    @media $breakpoints.sm {
        font-size 8vw
    }
}


.t-h3 {
    @extends $reset-heading

    font-size $fontSizeHeading['h3'];
    font-family $fonts['bold'];
    text-transform uppercase
    letter-spacing 0.1em

    // @media $breakpoints.md {}
    @media $breakpoints.sm {
        font-size 8.5vw
        hyphens: auto;
    }
}


.t-h4 {
    @extends $reset-heading

    font-size $fontSizeHeading['h4'];
    font-family $fonts['base'];
    line-height 1.143

    @media $breakpoints.md {
        font-size 3vw
        line-height 1.26
    }
    @media $breakpoints.sm {
        font-size 6.13vw
        line-height 1.26
    }
}


.t-h5 {
    @extends $reset-heading

    font-size $fontSizeHeading['h5'];
    font-family $fonts['base'];

    // @media $breakpoints.md {}
    // @media $breakpoints.sm {}
}

.t-h6 {
    @extends $reset-heading

    font-size $fontSizeHeading['h6'];
    font-family $fonts['base'];

    // @media $breakpoints.md {}
    // @media $breakpoints.sm {}
}
