// --------------------------------------------------
// input reset
// --------------------------------------------------

.t-input {
    @extends $reset-input

    &::-webkit-input-placeholder {
        color: $colors["gray"];
    }

    &::-moz-placeholder  {
        color: $colors["gray"];
    }
    &::-moz-placeholder {
        color: $colors["gray"];
    }

    &:-ms-input-placeholder {
        color: $colors["gray"];
    }
}


// --------------------------------------------------
// Input
// --------------------------------------------------

.t-input--text {
    @extends .t-input
	position relative;

    padding 0 20px
    padding-left 0
    border-bottom 1px solid $colors['gray-light'];
    line-height 40px
    min-height 40px
    display inline-block

    width 100%

    @media $breakpoints.sm {
        font-size 16px
    //     padding 30px 0
    }

    &--large {
        line-height 60px
    }

    &:focus {
        border-radius .25rem
        box-shadow: 0 0 0 0.2rem rgba(white,.5);

        &.u-color--black, .u-color--black & {
            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(black,.5);
            }
        }
    }

    &.is-error{
        color: red;
        border-color: red;

        &::-webkit-input-placeholder {
            color: rgba(red, 0.3);
        }

        &::-moz-placeholder  {
            color: rgba(red, 0.3);
        }
        &::-moz-placeholder {
            color: rgba(red, 0.3);
        }

        &:-ms-input-placeholder {
            color: rgba(red, 0.3);
        }

        &:focus {
            border-color $colors['black'];
        }
    }
}

// --------------------------------------------------
// Textarea
// --------------------------------------------------

.t-textarea {
    @extends .t-input
    position relative;

    padding 20px

    border 1px solid $colors['gray-light'];
    line-height 1.8
    min-height 180px

    width 100%

    @media $breakpoints.sm {
        font-size 16px
    }

    &:focus {
        border-radius .25rem
        box-shadow: 0 0 0 0.2rem rgba(white,.5);

        &.u-color--black, .u-color--black & {
            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(black,.5);
            }
        }
    }

    &.is-error{
        color: red;
        border-color: red;

        &::-webkit-input-placeholder {
            color: rgba(red, 0.3);
        }

        &::-moz-placeholder  {
            color: rgba(red, 0.3);
        }
        &::-moz-placeholder {
            color: rgba(red, 0.3);
        }

        &:-ms-input-placeholder {
            color: rgba(red, 0.3);
        }

        &:focus {
            border-color $colors['black'];
        }
    }
}


// --------------------------------------------------
// Radio
// --------------------------------------------------

.t-input--radio {
    // position absolute
    opacity 0
}

.t-input--radio.is-error + label {
    color: red !important;

    &:before {
        border-color: red !important;
    }
}

.t-input--radio + label {
    cursor pointer
    display block

    &:before,
    &:after {
        position absolute
        display inline-block
        content ''

        top 50%
        left 0px
    }

    &:before {
        width 32px
        height 32px
        margin-top -16px
        border-radius 50%

        border 1px solid $colors['black'];

        opacity 0.3
        transition opacity .6s $ease-out-quart
    }

    &:after {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        margin-top: -6px;
        margin-left: 10px;

        background $colors['black'];

        transition transform .25s $ease-out-quart
        transform scale(0) translateZ(0)
    }

    &:hover {
        &:before {
            opacity 1
        }
    }

}

// .t-input--radio:focus + label {
//     &:before {
//         box-shadow: 0 0 0 0.2rem rgba(black,.5);
//     }
// }


.t-input--radio:checked + label {
    &:before {
        opacity 1
    }
    &:after {
        transform scale(1) translateZ(0)
    }
}


// --------------------------------------------------
// Checkbox
// --------------------------------------------------

.t-input--checkbox {
    position absolute
    opacity 0
}

.t-input--checkbox.is-error + label {
    color: red !important;

    &:before {
        border-color: red !important;
    }
}

.t-input--checkbox + label {
    position relative
    cursor pointer

    display block
    width 100%
    padding-left 35px
    line-height 40px

    &:before,
    &:after {
        position absolute
        display inline-block
        content ''

        top 12px
        left 0px

    }

    &:before {
        width 16px
        height 16px

        border 2px solid $colors["gray-light"];

        transition border-color .6s $ease-out-quart
    }

    &:after {
        height 4px
        width 4px

        margin-top: 6px;
        margin-left: 6px;

        background black;

        transition transform .25s $ease-out-quart
        transform scale(0) translateZ(0)
    }

}

.t-input--checkbox--multi + label {
    line-height 1.8

    &:before,
    &:after {
        top 4px
        left 0px
    }
}

// .t-input--checkbox:focus + label {
//     &:before {
//         box-shadow: 0 0 0 0.2rem rgba(black,.5);
//     }
// }

.t-input--checkbox:checked + label {
    &:after {
        transform scale(1) translateZ(0)
    }
}


// --------------------------------------------------
// Select
// --------------------------------------------------

.t-input--select {
    @extends $reset-input
    position relative;

    background: #00375B;
    color $colors['white'];
    border-radius: 20px;

    font-size 10px
    font-family $fonts['heading'];
    text-transform uppercase

    padding 0 20px
    padding-right 35px
    line-height 40px
    min-height 40px
    display inline-block
    letter-spacing 0.1em

    // @media $breakpoints.sm {
    //     font-size 16px
    // }

    &::-ms-expand {
        display none
    }

    option {
        color black

        @media $breakpoints.sm {
            font-size 16px
        }

        &:disabled {
            color: $colors["gray"];
        }
    }

    &.is-error {
        color: rgba(red, 0.3) !important;
        border-color: red !important;
    }

}

.t-input--select-container {
    display inline-block
    position relative

    &:after {
        content ""
        position absolute
        top 50%
        right 20px

        margin-top -2px

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 3px 0 3px;
        border-color: white transparent transparent transparent;
    }
}
