// --------------------------------------------------
// Link
// --------------------------------------------------

.t-link {
    @extends $reset-link
    text-decoration none

    outline none
}

.t-link--primary {
    @extend .t-link

    display inline-block
    position relative
    transform translateZ(0)
    overflow hidden

    // svg {
    //     display block
    //     transform translateZ(0)
    //     overflow hidden
    // }

    &:before {
        content ""
        position absolute
        bottom 0
        left 0
        width 100%
        height 1px
        background $colors['black'];

        transform-origin left;
        transform scaleX(0) translateZ(0)
        transition transform 0.6s $ease-out-quart
    }

    &:hover {
        &:before {
            transform scaleX(1) translateZ(0)
        }
    }

    &--white {
        &:before {
            background $colors['white'];
        }
    }
}

.t-link--secondary {
    @extend .t-link

    &:hover {
        text-decoration underline
    }
}