// --------------------------------------------------
// List
// --------------------------------------------------

.t-list {
    @extends $reset-list
}

.t-list--none {
    @extends $reset-list
}

.t-list--inline {
    @extends $reset-list
}

.t-list--default {
    list-style-type disc
}

ul {
    list-style-type none
}
