// --------------------------------------------------
// Link
// --------------------------------------------------

for breakpoint in $breakpoints {
    @media $breakpoints[breakpoint] {

        suffix = "\@" + breakpoint

        if (breakpoint == default) {
            suffix = ""
        }

        .t-text{suffix} {
            @extends $reset-paragraph

            line-height 1.572
            font-size $fontSize['md'];
        }

        for size in $fontSize {
            .t-text--{size}{suffix} {
                @extends .t-text;

                font-size $fontSize[size];

                if (size == 'xxs') {
                    letter-spacing 0.2em
                }
            }

        }
    }
}
