table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.t-table {
    width: 100%;
    background black

    .u-bg--white & {
        background white
    }

    th, td {
        padding: 20px 10px;
        line-height: 1.2;
        text-align: center;
        vertical-align: top;

        border: 1px solid $colors['gray-dark'];
        vertical-align: middle;

        .u-bg--white & {
            border: 1px solid $colors['gray-light'];
        }
    }

    th {
        font-weight: bold;
    }

    thead th {
        background-color: $colors['gray-darkness'];
        vertical-align: bottom;

        .u-bg--white & {
            background-color: $colors['gray-lightness'];
        }
    }
}

.t-table--striped tbody > tr:nth-child(even) > td, .t-table--striped tbody > tr:nth-child(even) > th {
    background-color: $colors['gray-darkness'];

    .u-bg--white & {
        background-color: $colors['gray-lightness'];
    }
}
