@charset "UTF-8"
// --------------------------------------------------
// Default
// --------------------------------------------------


// -------------------------
// Reset the box-sizing
// -------------------------

html {
    box-sizing border-box
    overflow-y scroll
    overscroll-behavior-y: none;

    -webkit-tap-highlight-color rgba(0,0,0,0)
}

* {
    &,
    &:before,
    &:after {
        box-sizing border-box;
    }
}

// -------------------------
// Body reset
// -------------------------

body {
    font-family $fonts['base'];
    font-size 16px

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    -moz-font-feature-settings: "liga", "kern"
    text-rendering: optimizelegibility

    -webkit-text-size-adjust: 100%
        -ms-text-size-adjust: 100%

    background $colors['white'];
    color $colors['black'];

}

.is-disable-scroll {
    position fixed
    top 0
    left 0
    bottom 0
    right 0
    margin 0
    width 100%
    height 100%
    overflow hidden
    -webkit-overflow-scrolling: auto;
}

// ::-moz-selection {
//     color: $colors['black'];
//     background: $colors['white'];
// }

// ::selection {
//     color: $colors['black'];
//     background: $colors['white'];
// }

img {
    -ms-interpolation-mode bicubic;
}

canvas {
    display block
}

strong {
    font-weight normal
}

p {
    margin 0
}

