// --------------------------------------------------
// Fonts
// --------------------------------------------------

@font-face {
    font-family: "GE Inspira Sans Bold";
    src: url($font-path + "GEInspiraSans-Bold-v01.woff2") format("woff2"),
         url($font-path + "GEInspiraSans-Bold-v01.woff") format("woff"),
         url($font-path + "GEInspiraSans-Bold-v01.otf") format("opentype");

    font-style: normal;
    font-weight: 400;
}


@font-face {
    font-family: "GE Inspira Sans Italic";

    src: url($font-path + "GEInspiraSans-Italic-v01.woff2") format("woff2"),
         url($font-path + "GEInspiraSans-Italic-v01.woff") format("woff"),
         url($font-path + "GEInspiraSans-Italic-v01.otf") format("opentype");

    font-style: normal;
    font-weight: 400;
}


@font-face {
    font-family: "GE Inspira Sans";
    src: url($font-path + "GEInspiraSans-Regular-v01.woff2") format("woff2"),
         url($font-path + "GEInspiraSans-Regular-v01.woff") format("woff"),
         url($font-path + "GEInspiraSans-Regular-v01.otf") format("opentype");

    font-style: normal;
    font-weight: 400;
}


